<!DOCTYPE html>
<html lang="en">

 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Dashboard</title>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" rel="stylesheet">
 </head>
 <body>

    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Dimensionality Reduction</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link active" href="">Home
                <span class="visually-hidden"></span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/wine">Wine</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/communties">Communities</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/airquality">Air Quality</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>

    <br>
  <h1 class="text-center">Wine</h1>

  <div class="container">
    <h2>PCA</h2>
    <div id="pca_plot"></div>
  </div>

  <div class="container">
    <h2>t-SNE</h2>
    <div id="tsne_plot"></div>
  </div>

  

  

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>
    // Función para cargar el gráfico PCA
    function loadPCAPlot() {
        fetch('/pca_plot')
            .then(response => response.json())
            .then(data => {
                Plotly.newPlot('pca_plot', data.data, data.layout);
                // Añadir un evento de selección para el gráfico PCA
                document.getElementById('pca_plot').on('plotly_selected', (eventData) => {
                    var selectedPoints = eventData.points;
                    var selectedIndices = selectedPoints.map(point => point.pointIndex);
                    updateTSNEPlot(selectedIndices);
                });
            });
    }

    // Función para cargar el gráfico t-SNE
    function loadTSNEPlot() {
        fetch('/tsne_plot')
            .then(response => response.json())
            .then(data => {
                Plotly.newPlot('tsne_plot', data.data, data.layout);
                // Añadir un evento de selección para el gráfico t-SNE
                document.getElementById('tsne_plot').on('plotly_selected', (eventData) => {
                    var selectedPoints = eventData.points;
                    var selectedIndices = selectedPoints.map(point => point.pointIndex);
                    updatePCAPlot(selectedIndices);
                });
            });
    }

    // Actualizar el gráfico PCA con los puntos seleccionados en el gráfico t-SNE
    function updatePCAPlot(selectedIndices) {
        Plotly.restyle('pca_plot', {selectedpoints: selectedIndices});
    }

    // Actualizar el gráfico t-SNE con los puntos seleccionados en el gráfico PCA
    function updateTSNEPlot(selectedIndices) {
        Plotly.restyle('tsne_plot', {selectedpoints: selectedIndices});
    }

    // Cargar ambos gráficos al cargar la página
    window.onload = function() {
        loadPCAPlot();
        loadTSNEPlot();
    };
</script>



    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/alert.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/tooltip.min.js"></script>
 </body>
 <script src="https://d3js.org/d3.v5.min.js"></script>


</html>